.bg-main
{
   
    background-color: #3aafa9;
    /* #b5a7d4  #6b705c  #2e3b4e #5a8d9e */
}
.dashboard{
    font-family: "Baloo Chettan", cursive;
    background-color:#f5f5f5;
/*#f5f5f5 #fff8e1 #edeec9 #e8eff1 #f5f7fa */
}