body {
    margin: 0;
    font-family: "Baloo Chettan", cursive;
    line-height: 1.6;
    color: #333;
  }
  
  .home-page {
    text-align: center;
    padding: 3rem;
  }
  
  .hero-banner h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .hero-banner {
    position: relative;
    background-image: url('../../../public/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
    color: #ffff;
}
.hero-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); 
  z-index: 1;
}

.hero-banner > * {
  position: relative;
  z-index: 2;
}


@media (max-width: 768px) {
  .hero-banner {
      height: 50vh;
  }
}


  
  .hero-banner p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  
  .cta-button {
    background: #9ff4dd;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .cta-button:hover {
    background: #9ff4dde6;
  }
  
  .features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2.5rem;
    margin: 2rem 0.5rem;
    cursor: pointer;
  }
  
  .feature-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .feature-card:nth-child(1){
    background: rgba(225, 175, 234, 0.603);
  }
  .feature-card:nth-child(2){
    background:#9fd6f491;
  }
  .feature-card:nth-child(3){
    background: rgba(230, 169, 26, 0.555);
  }
  .feature-card h3 {
    margin-bottom: 1rem;
  }
  
  .hero-banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .hero-content {
    flex: 1;
    max-width: 700px;
  }
  
  .hero-image img {
    max-width: 100vw;
    height: 90vh;
  }
  